button.charBtn{
    margin: 10px;
  }

button.charBtn:focus {
    background-color: red;
}

.charBtnText {
text-align: center;
}

h3{
    font-size: 32px;
}

.com {
    font-size: 20px;
}

.comicsHeading {
    text-align: left;
    font-size: 30px;
}

.charImg {
    height: 400px; 
}

  